<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List</title>
    </head>
    <body>
        <ol>
        {% for restaurant in restaurants %}
            <a href="{% url 'restaurant-detail' restaurant.id %}">
                
                    <h2>
                        <li>{{restaurant.name}}</li>
                    </h2>
                  
                <ul>    
                    <h3>
                        <li>{{restaurant.description}}</li>
                    </h3>
                </ul>
            </a>
        {% endfor %}
         </ol> 
    </body>
</html>
